$color--black : #000;
$color--white : #fff;
$color--yellow : #fc0;

body{
    h1{
        font-size: 50px;
        text-align: center;
        display: flex;
    }
    p{
        text-align: center;
        color: $color--white;
        background-color: $color--yellow;
    }
}